#robyn==0.11.0
#simsapa==0.1.7.dev0
#pandas==1.0.0
Flask[asgiref]==2.0.2
#pyspark==3.2.1
#tensorflow
#numpy
#beautifulsoup4==4.0.1
#Django
#collective.ckeditor==4.3.0b2
#azure-cognitiveservices-language-textanalytics==0.2.0
#a-poem==0.12.3
#ccxt==1.10.480
#cleverbox==0.4.4
#pyf.services==2.0
#cgat==0.1
cronq
cronq==0.0.29
jijmodeling==0.8.5
pl-nightly==0.13.8.20220116.1 #redis not found
leadguru-common==0.57.0
perceptilabs==0.11.10
ocrd==0.15.1
lusid-sdk==0.11.3080
vpython==7.5.2b5
pytest-homeassistant-custom-component==0.6.4
Cleverbox==0.4.4
